.list{
    color: #fff;
    width:300px;
    background-color: #bf07ac;
    margin: 20px auto;
    max-height: 70%;
    border-radius: 7px;
    max-width: 90%;
}
.list p{
    padding: 10px 10px 10px 0px;
    right: 15px;
}
i{
    cursor: pointer;
    float: right;
    margin-top: 3px;
    margin-right: 2px;
}

.list p input{
    background-color: transparent;
    border: 0;
    color:#fff;
    font-size: 18px;
    max-width: 80%;
}
.list p input:focus{
    outline: none;
}